@model ParvazPardaz.ViewModel.EditContentViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ParvazPardaz.Resource.CMS.CMS.ManagementLastSecondTours </h3>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ImageFileName)
        @Html.HiddenFor(model => model.ImageSize)
        @Html.HiddenFor(model => model.ImageExtension)
        @Html.HiddenFor(model => model.ImageUrl)
        @Html.HiddenFor(model => model.NavigationUrl)

        <div class="form-group">
            @Html.LabelFor(model => model.ContentGroupId, new { @class = "control-label col-md-2" })
            <div class="col-md-3 number">
                @Html.DropDownListFor(model => model.ContentGroupId, Model.ContentGroupDDL, new { @class = "form-control select" })
                @Html.ValidationMessageFor(model => model.ContentGroupId, "", new { @class = "text-danger" })
            </div>
        </div>       

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(d => d.CountryId, Model.CountryDDL, ParvazPardaz.Resource.General.Generals.DDLSelect, new { id = "DDLCountry", @class = "form-control search-select select" }) <!-- , onchange = "FetchState()" -->
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(d => d.CityId, Model.CityDDL, ParvazPardaz.Resource.General.Generals.DDLSelect, new { @class = "form-control search-select select", id = "DDLCity" })
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TourLandingPageUrlId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(d => d.TourLandingPageUrlId, Model.TourLandingPageUrlDDL, ParvazPardaz.Resource.General.Generals.DDLSelect, new { @class = "form-control search-select select", id = "DDLUrl" })
                @Html.ValidationMessageFor(model => model.TourLandingPageUrlId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "flat-red", style = "margin-right:50px; margin-left:50px;" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NavigationUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NavigationUrl, new { @class = "form-control", style = "direction:ltr;" })
                <div class="alert alert-info" style="margin-top:10px">
                    <i class="fa fa-info-circle"></i>
                    <strong>توجه!</strong>
                    <p>@ParvazPardaz.Resource.Link.LinkResource.UseThisLinkTableTitlePattern</p>
                    <p style="direction:ltr">@ParvazPardaz.Resource.Link.LinkResource.LastSecondTourUrlPattern</p>
                </div>
                @Html.ValidationMessageFor(model => model.NavigationUrl, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Context, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Context, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Context, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ContentDateTime, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ContentDateTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContentDateTime, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.Label(ParvazPardaz.Resource.General.Generals.Upload, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.FileUploaderFor(model => model.File).AddMore(false).IsMultiple(false).ItemAppendToEnd(false).RemoveConfirmation(true).ShowThumbs(true).RemoveButton(true).RemoveButtonInEditMode(false)*@
                @Html.FileUploaderFor(model => model.File).AddMore(false).IsMultiple(false).ItemAppendToEnd(false).RemoveConfirmation(true).ShowThumbs(true).RemoveButtonInEditMode(false).RemoveButton(true).Edit(new List<EditModeFileUpload>() { new EditModeFileUpload() { Name = Model.ImageFileName, Size = Model.ImageSize, Type = Model.ImageExtension, Url = Model.ImageUrl } })
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    @Html.Raw(ParvazPardaz.Resource.Tour.Tours.PicSizeLastSecondTour)
                </div>
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
            </div>
        </div>

        

        @*<div class="form-group">
                @Html.LabelFor(model => model.CommentIsActive, new { @class = "control-label col-md-2" })
                <div class="col-md-3">

                    @Html.CheckBoxFor(model => model.CommentIsActive, new { @class = "flat-red", style = "margin-right:50px; margin-left:50px;" })
                    @Html.ValidationMessageFor(model => model.CommentIsActive, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value=@ParvazPardaz.Resource.General.Generals.Edit class="btn btn-custom green" />
                @Html.ActionLink(ParvazPardaz.Resource.General.Generals.Back, "Index", null, new { @class = "btn btn-custom red" })
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        //var kd = jQuery.noConflict();
        $(document).ready(function () {
            $('#Description').jqEasyCounter({
                'maxChars': 500,
                'maxCharsWarning': 400
            });
        });
    </script>

    <script type="text/javascript">
        $('.select').select2({
            dir: "RTL"
        });
    </script>
<script>
        $("#DDLCountry").change(function FetchCity() {
            //debugger;
            var items = "";
            var countryId = $("#DDLCountry").val();
            if (countryId == "") {
                items = "<option value=\"" + 0 + "\">" + '@ParvazPardaz.Resource.General.Generals.DDLSelect' + "</option>";
                $("#DDLCity").html(items);
            }
            else {
                items = "<option value=\"" + 0 + "\">" + '@ParvazPardaz.Resource.General.Generals.DDLSelect' + "</option>";
                var x = $.getJSON("/Admin/City/FindCitiesByCountryId/" + countryId, function (data) {
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\" " + ((item.Selected == true) ? "Selected" : "") + " >" + item.Text + "</option>";
                    });
                    $("#DDLCity").html(items);
                });
            }
        });

        $("#DDLCity").change(function FetchUrl() {
            //debugger;
            var items = "";
            var cityId = $("#DDLCity").val();
            if (cityId == "") {
                items = "<option value=\"" + 0 + "\">" + '@ParvazPardaz.Resource.General.Generals.DDLSelect' + "</option>";
                $("#DDLUrl").html(items);
            }
            else {
                items = "<option value=\"" + 0 + "\">" + '@ParvazPardaz.Resource.General.Generals.DDLSelect' + "</option>";
                $.ajax({
                    type: "POST",
                    url: "/Admin/TourLandingPageUrl/FindUrlsByCityIdEditMode/",
                    data: {
                        id: cityId,
                        previousUrlId:@(Model.TourLandingPageUrlId ?? 0),
                        landingPageUrlType: '@(ParvazPardaz.Model.Enum.EnumLandingPageUrlType.DiscountedTour)'
                        }
                }).done(function(data) {
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\" " + ((item.Selected == true) ? "Selected" : "") + " >" + item.Text + "</option>";
                    });
                    $("#DDLUrl").html(items);
                });
            }
        });

        $("#DDLUrl").change(function SetIsActive() {
            var urlId = $("#DDLUrl").val();
            var hasChecked = $(".icheckbox_flat-red").hasClass("checked");
            if (urlId > 0 && hasChecked == false) {
                $(".iCheck-helper").trigger("click");
            }
        });

        $("form").submit(function () {
            var hasChecked = $(".icheckbox_flat-red").hasClass("checked");
            //اگه تور فعال نباشه ، دراپ-داون آدرس رو به حالت انتخاب نشده تغییر میده
            //و در نتیجه در فیلد تور.لندینگ.پیج.یو.آر.ال.آیدی مقدار صفر قرار می گیره
            if (hasChecked == false) {
                $("#DDLUrl").val("0");
                $("#DDLUrl").trigger('change');
            }
        });
</script>
}