@model TourScheduleViewModel
@{
    var index = Model.index;
}

<tr class="partialSection CoTransferItem autocomplete">
    <td>
        @Html.DropDownListFor(model => model.CompanyTransfer[index].fromCityId, ViewBag.FromCity as IEnumerable<SelectListItem>, ParvazPardaz.Resource.Tour.Tours.SelectVehicleType, new { @class = "fromCityId form-control ddlPadding", id = "DDFromCity" + index, onchange = "FetchFromAirport(" + index + ")" })
    </td>
    <td>
        @*@Html.TextBoxFor(model => model.CompanyTransfer[0].FromAirportTitle, new { @class = "form-control FromCityTitle", @id = "FromCityTitle" })*@
        @Html.DropDownListFor(model => model.CompanyTransfer[index].FromAirportId, ViewBag.Airport as IEnumerable<SelectListItem>, new { @class = "FromAirportId form-control ddlPadding", id = "DDFromAirport" + index })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].FromAirportId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.CompanyTransfer[index].destCityId, ViewBag.FromCity as IEnumerable<SelectListItem>, ParvazPardaz.Resource.Tour.Tours.SelectVehicleType, new { @class = "destCityId form-control ddlPadding", id = "DDDestinationCity" + index, onchange = "FetchDestinationAirport(" + index + ")" })
    </td>
    <td>
        @*@Html.TextBoxFor(model => model.CompanyTransfer[0].DestinationAirportTitle, new { @class = "form-control DestinationCityTitle", @id = "DestinationCityTitle" })*@
        @Html.DropDownListFor(model => model.CompanyTransfer[index].DestinationAirportId, ViewBag.Airport as IEnumerable<SelectListItem>, new { @class = "DestinationAirportId form-control ddlPadding", id = "DDDestinationAirport" + index })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].DestinationAirportId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].DepartureDate, "{0:yyyy/MM/dd}", new { @class = " DepartureDate datepicker form-control" })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].DepartureDate, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].DepartureTime, new { @class = "DepartureTime form-control DepartureTime", @id = "DepartureTime" })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].DepartureTime, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].ArrivalDate, "{0:yyyy/MM/dd}", new { @class = "ArrivalDate datepicker form-control" })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].ArrivalDate, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].ArrivalTime, new { @class = "ArrivalTime form-control", @id = "ArrivalTime" })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].ArrivalTime, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.CompanyTransfer[index].VehicleTypeId, ViewBag.VehicleTypes as IEnumerable<SelectListItem>, ParvazPardaz.Resource.Tour.Tours.SelectVehicleType, new { @class = "VehicleTypeId form-control ddlPadding", id = "DDVehicleType" + index, onchange = "FetchCompanyTransfer(" + index + "); FetchVehicleTypeClass(this);" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.CompanyTransfer[index].CompanyTransferId, ViewBag.CompanyTransfers as IEnumerable<SelectListItem>, new { @class = "CompanyTransferId form-control ddlPadding", id = "DDCompanyTransfer" + index })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].CompanyTransferId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.DropDownListFor(model => model.CompanyTransfer[index].VehicleTypeClassId, ViewBag.VehicleTypeClasses as IEnumerable<SelectListItem>, new { @class = "VehicleTypeClassId form-control" })
        @Html.ValidationMessageFor(model => model.CompanyTransfer[index].VehicleTypeClassId, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].FlightNumber, new { @class = "FlightNumber form-control" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.CompanyTransfer[index].BaggageAmount, new { @class = "BaggageAmount form-control" })
    </td>
    <td>
        @Html.EnumDropDownListFor(model => model.CompanyTransfer[index].FlightDirection, new { @class = "FlightDirection form-control" })
    </td>
    <td>
        @Html.TextAreaFor(model => model.CompanyTransfer[index].Description, new { @class = "Description form-control" })
    </td>
    <td style="text-align:left;">
        <a class="btn btn-remove" onclick="$(this).closest('.partialSection').remove();"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </td>
    @*<td>
            <div class="btn-remove-section"><a class="btn btn-xs btn-remove removePassenger" onclick="removePassenger(this)">حذف هتل</a></div>
        </td>*@
</tr>
