@model ForgetPasswordViewModel
@*<script src='https://www.google.com/recaptcha/api.js?hl=@ParvazPardaz.Resource.General.Generals.Regional'></script>*@
@using (Ajax.BeginForm("ForgetPassword", "Account", null, new AjaxOptions() { HttpMethod = "POST", OnBegin = "BeginForgetPassword", OnSuccess = "SuccessForgetPassword" }, new { id = "frm-forget-password", @class = "form passrestore" }))
{
     @Html.AntiForgeryToken()
    <h2>بازیابی رمز عبور</h2>
    <label>
        @Html.LabelFor(x => x.Email, new { @class = "label-text" })
        @Html.TextBoxFor(model => model.Email, new {@id="fEmail", style = "direction:ltr" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-error" })
    </label>
    @*<label>
        <span id="Recaptcha" class="label-text"></span>
        <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["reCaptchaPrivateKey"]" data-callback="recaptchaCallback"></div>
        <span id="DivRecaptchaRequired" style="display:none" class="form-error">لطفا گزینه 'من ربات نیستم' را تیک بزنید</span>
        <span id="Recaptcha-error-section" class="form-error field-validation-error" style="display:none" data-valmsg-for="Recaptcha" data-valmsg-replace="true"><span id="Recaptcha-error" class="">لطفا گزینه 'من ربات نیستم' را تیک بزنید</span></span>
    </label>*@
    <input id="BtnResetPassword" class="btn-1 active" type="submit" name="" value="بازیابی رمز عبور">
}