@model ParvazPardaz.ViewModel.NotFoundLink.GridNotFoundLinkViewModel


@{
    ViewBag.Title = "Index";
}



@if (ParvazPardaz.Resource.General.Generals.Direction == "RTL")
{
    if (ParvazPardaz.Resource.General.Generals.Regional == "AR")
    {
        @Styles.Render("~/content/kendo/RTL/css");
    @Scripts.Render("~/Scripts/kendo/ar-IQ/js");
    }
    else
    {
        @Styles.Render("~/content/kendo/RTL/css");
    @Scripts.Render("~/Scripts/kendo/fa-IR/js");
    }
}
else
{
    @Styles.Render("~/content/kendo/LTR/css");
    @Scripts.Render("/Scripts/kendo/en-US/js");
}

<h3>@ParvazPardaz.Resource.Tour.Tours.ManagementNotFountLinks </h3>

<hr />

<p>
    @if (Infrastructure.HasPermission.CanAccess("Delete", "/Admin/NotFoundLink/Delete"))
    {
    <a onclick="del()" class="btn btn-red">
        <i class="fa fa-trash-o"></i>
        @ParvazPardaz.Resource.General.Generals.Delete
    </a>
    }
</p>

<div class="k-rtl">
    @(Html.Kendo().Grid<ParvazPardaz.ViewModel.NotFoundLink.GridNotFoundLinkViewModel>()
        .Name("Grid")
        .Columns(columns =>
            {
                columns.Bound(x => x.Id).ClientTemplate("<a href='\\#' onclick=\"copyToClipboard('#=URL#')\" class=\"tooltips\" data-original-title=\"" + @ParvazPardaz.Resource.General.Generals.CopyLink + "\"><i class=\"CopyToClipboard fa clip-copy-3 \"></i></a>").Filterable(false).Groupable(false).Sortable(false).Width(80).Title(@ParvazPardaz.Resource.General.Generals.CopyLink).Width(50);
                columns.Bound(model => model.URL).ClientTemplate("<a href=\"#=URL#\" style=\"direction:LTR\">#=URL#</a>").HtmlAttributes(new { style = "text-align: left !important; direction: ltr !important;" }).Width(600);
                columns.Bound(model => model.CreatorUserName).Width(150);
                columns.Bound(model => model.CreatorDateTime).ClientTemplate("#=(CreatorDateTime != null ? moment(CreatorDateTime).format('jYYYY/jMM/jDD HH:mm') : '')#").Width(150);
                columns.Bound(model => model.LastModifierUserName).Width(150);
                columns.Bound(model => model.LastModifierDate).ClientTemplate("#=(LastModifierDate != null ? moment(LastModifierDate).format('jYYYY/jMM/jDD HH:mm') : '')#").Width(150);
            })
            .Groupable()
            .Pageable()
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row))
            .Navigatable()
            .Sortable()
            .Scrollable(scr => scr.Height(400))
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Sort(st =>
                        {
                            st.Add(s => s.CreatorDateTime).Descending();
                            st.Add(s => s.Id).Descending();
                        })

                .Model(model => model.Id(item => item.Id))
                .Read(read => read.Action("GetNotFoundLink", "NotFoundLink", null)).PageSize(50)
            )
    )
    @Html.Partial("_Toastr")
</div>

@Html.Partial("_ConfirmationMessage")

@section scripts{
    <script>
        var CreateUrl = "@Url.Action("Create", "NotFoundLink")";
        var EditUrl = "@Url.Action("Edit", "NotFoundLink")";
        var DeleteUrl = "@Url.Action("Delete", "NotFoundLink")";
    </script>

    <script>
        function GetSelectedItemParameters() {

            var gview = $("#Grid").data("kendoGrid");
            var SelectedItem = gview.dataItem(gview.select());
            if (SelectedItem == null) {
                toastr.options = { "positionClass": "toast-top-center" }
                toastr.error('@ParvazPardaz.Resource.General.Generals.SelectedGridRowAlert', '@ParvazPardaz.Resource.General.Generals.SelectedGridRowAlertTitle', { timeOut: 5000 })
                return false;
            }
            else {
                return SelectedItem;
            }
        }

        function CheckSelectedGrid() {
            var gview = $("#Grid").data("kendoGrid");
            var selectedItem = gview.dataItem(gview.select());
            if (selectedItem == null) {
                toastr.options = { "positionClass": "toast-top-center" }
                toastr.error('@ParvazPardaz.Resource.General.Generals.SelectedGridRowAlert', '@ParvazPardaz.Resource.General.Generals.SelectedGridRowAlertTitle', { timeOut: 5000 })
                return false;
            }
            else {
                var selectedId = selectedItem.Id;
                return selectedId;
            }
        }
        var wndRemove = $("#ConfirmationMessage").kendoWindow({
            title: "",
            modal: true,
            visible: false,
            resizable: false,
            width: 400,
        }).data("kendoWindow");

        function create(parameters) {
            window.location.replace(CreateUrl);
        }

        function edit(parameters) {

            var result = CheckSelectedGrid();
            if (result) {
                window.location.replace(EditUrl + "/" + result);
            }
        }

        function del(parameters) {
            var result = CheckSelectedGrid();
            if (result) {
                wndRemove.center();
                wndRemove.open();
            }
        }
        $("#btnYes").click(function () {
            var gview = $("#Grid").data("kendoGrid");
            var selectedItem = gview.dataItem(gview.select());
            var selectedId = selectedItem.Id;
            $.ajax({
                url: DeleteUrl,
                type: "post",
                dataType: "json",
                cache: false,
                data: { Id: selectedId },
                success: function (result) {
                    var gridm = $("#Grid").data("kendoGrid");
                    if (gridm != undefined && result) {
                        if (gridm.dataSource.transport.cache._store)
                            gridm.dataSource.transport.cache._store = {};
                        gridm.dataSource.fetch();
                        toastr.options = { "positionClass": "toast-top-center" }
                        toastr.error('@ParvazPardaz.Resource.General.Generals.DeleteAlert', '@ParvazPardaz.Resource.General.Generals.DeleteAlertTitle', { timeOut: 5000 })
                    }
                    else {
                        toastr.options = { "positionClass": "toast-top-center" }
                        toastr.error('@ParvazPardaz.Resource.General.Generals.ErrorAlert', '@ParvazPardaz.Resource.General.Generals.ErrorAlertTitle', { timeOut: 5000 })
                    }
                },
                error: function (xhr) {
                    toastr.options = { "positionClass": "toast-top-center" }
                    toastr.error('@ParvazPardaz.Resource.General.Generals.ErrorAlert', '@ParvazPardaz.Resource.General.Generals.ErrorAlertTitle', { timeOut: 5000 })
                }
            });
            wndRemove.close();
        })
        $("#btnNo").click(function () {
            wndRemove.close();
        })
    </script>

    <!-- copy link -->
    <script type="text/javascript">
        function copyToClipboard(url) {
            debugger;
            window.prompt("Copy to clipboard: Ctrl+C, Enter", url);
        }
    </script>
}


