@*@model PostListViewModel*@
@model SearchResultViewModel
@{
    ViewBag.Title = "جستجوی " + Model.Title;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";

}
<link href="~/Content/assets/plugins/Select2_V4/css/select2.css" rel="stylesheet" />

<style>

    .btnMore {
        border-top: 5px solid #fecb04 !important;
        border-radius: 4px !important;
    }

    .btn-sortby {
        color: #fff;
        background-color: #14232a;
        border-color: #14232a;
    }

        .btn-sortby:active:hover, .btn-sortby.active:hover, .open > .dropdown-toggle.btn-sortby:hover, .btn-sortby:active:focus, .btn-sortby.active:focus, .open > .dropdown-toggle.btn-sortby:focus, .btn-sortby.focus:active, .btn-sortby.active.focus, .open > .dropdown-toggle.btn-sortby.focus {
            color: #fff;
            background-color: #14232a;
            border-color: #14232a;
        }

    .orderby-dropdown-menu {
        left: 0 !important;
        right: auto !important;
    }

    .sort-font {
        font-size: 13px !important;
    }
</style>

@helper GetImgurl(ImageViewModel _image)
{
    if (_image != null)
    {
        string image = _image.Width == 700 ? _image.ImageUrl + "-700x525" + _image.ImageExtension : _image.ImageUrl + "-736x512" + _image.ImageExtension;
        <img src="@image" alt="@Model.PostListViewModel.Title" />
    }
    else
    {
        <img src="~/ClientTheme/images/keysafarlogo725.jpg" alt="keysafar.com" />
    }
}

<!--page-breadcrumb -->
<div class="page-breadcrumb">
    <div class="container">
        <h1>@Model.PostListViewModel.Title</h1>
        <ol class="breadcrumb pull-left">
            <li><a href="/tourism/">صفحه اصلی</a></li>
            @if (Model.PostListViewModel.breadCrumbItems != null && Model.PostListViewModel.breadCrumbItems.Any())
            {
                for (int i = (Model.PostListViewModel.breadCrumbItems.Count - 1); i >= 0; i--)
                {
                    <li><a href="@Model.PostListViewModel.breadCrumbItems[i].URL">@Model.PostListViewModel.breadCrumbItems[i].Title</a></li>
                }
            }
        </ol>
    </div>
</div>
<!-- page-breadcrumb /- -->

<a href="#menu-toggle" class="btn btn-default hidden-lg hidden-md hidden-sm btn-sidebar" id="menu-toggle"><i class="fa fa-arrow-left"></i>دیگر مطالب مرتبط</a>

<!-- Blog Section -->
<div id="blog-section" class="blog-section wrapper">
    <div id="blog-section" class="blog-section" style="padding-top:60px;">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" class="widget-sidebar ">

                    <!-- related Group -->
                    @if (Model.PostListViewModel.RelatedGroups != null && Model.PostListViewModel.RelatedGroups.Any())
                    {
                        @Html.Partial("_PrvRelatedGroups", Model.PostListViewModel.RelatedGroups)
                    }
                    <!-- /related Group -->
                    <!-- Latest Post -->
                    @{Html.RenderAction(actionName: "LatestUpdateSideBar", controllerName: "Blog");}

                </div>
                <div id="page-content-wrapper" class="col-xs-12" style="position:relative;">
                    <!-- col-md-8 -->
                    <div class="col-md-8 col-sm-6" style="direction:rtl">
                    <h4>جستجوی @Model.Title</h4>
                        @Html.Partial("_PrvSearchResult", Model)
                        @*<div id="DivResult">
                                @{
                                    var counter = 0;
                                    var idCount = 0;
                                }
                                @foreach (var item in Model.PostListViewModel.PostDetail)
                                {
                                <article class="col-md-4">
                                    <!-- blog-box -->
                                    <div class="blog-box">
                                        <div class="entry-cover">
                                            <a href="@item.URL"><img src="@Url.Content(item.Thumbnail)" /></a>
                                            @{var signid = "add_sign_count-" + idCount;
                                                var postid = "post-content-" + idCount;
                                            }
                                            <a id="@signid" class="add-sign-big color-Yellow"><img src="/ClientTheme/images/icon/big-plus.png" alt="big-plus" /></a>
                                        </div>

                                        <div class="post-box-inner">
                                            <div class="box-content">
                                                <a href="@item.URL" id="@item.Name.Replace(" ","-")" target="@item.Target" rel="@item.Rel" class="entry-title">@item.Name</a>
                                                <p>@item.PostSummery</p>
                                                <p class="time"><i class="fa fa-clock-o"></i> @item.PublishDatetime.ToString("yyyy/MM/dd")</p>
                                                <div class="post-content" id="@postid">
                                                    <p>@item.PostSummery</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- blog-box /- -->

                                    <div class="blog-social">
                                        <a href="@item.URL" class="read-more " target="@item.Target" rel="@item.Rel">بیشتر</a>
                                    </div>
                                </article>
                                                counter++;
                                                idCount++;
                                                if (counter == 3)
                                                {
                                <div class="hidden-xs" style="clear:both;"></div>
                                                    counter = 0;
                                                }
                                }
                                @if (!Model.IsBeHiddenBtnMore)
                                {
                                    <a href="#" class="btn btn-block btn-success ">بیشتر</a>
                                }
                            </div>*@
                    </div><!-- col-md-8 /- -->
                    <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6 hidden-xs widget-sidebar">
                        <!-- related Group -->
                        @if (Model.PostListViewModel.RelatedGroups != null && Model.PostListViewModel.RelatedGroups.Any())
                        {
                            @Html.Partial("_PrvRelatedGroups", Model.PostListViewModel.RelatedGroups)
                        }
                        <!-- /related Group -->
                        <!-- Latest Post -->
                        @{Html.RenderAction(actionName: "LatestUpdateSideBar", controllerName: "Blog");}
                        <!-- Latest Post /- -->
                        <!-- Categories -->

                    </div><!-- col-md-4 /- -->
                </div>
            </div>
        </div>
        <!-- container /- -->
    </div>
</div>
<!-- Blog Section /- -->
@*@Html.HiddenFor(model => model.PageIndex, new { @id = "PageIndex" })*@

@section scripts{
    <script src="~/Content/assets/plugins/Select2_V4/js/select2.js"></script>

    <script type="text/javascript">
        $('.select').select2({
            dir: "RTL"
        });
    </script>

    <script>
        function GetPosts(urlAddress, title) {
            $("#DivResultTitle").html(title)
            $("#DivResult").hide(500);
            //change browser-url without refreshing page
            window.history.pushState(null, null, urlAddress);
            $.ajax({
                async: false,
                type: "POST",
                url: "/Blog/GetPostsByGroup/",
                data: {
                    url: urlAddress
                },
                success: function (data) {
                    //alert(data);
                    $("#DivResult").html(data);
                    $("#DivResult").show(1000);
                },
                error: function (textStatus, errorThrown) {

                }
            });

            RefreshFilterDDL();
        }

        function RefreshFilterDDL() {
            debugger;
            var urlAddress = "" + window.location.pathname + "";
            $.ajax({
                async: false,
                type: "POST",
                url: "/Blog/HasHotel/",
                data: {
                    url: decodeURI(urlAddress),
                },
                success: function (hasHotel) {
                    debugger;
                    if (hasHotel) {
                        $(".postsorting").css("display", "none");
                        $(".hotelsorting").css("display", "block");
                        $(".hotelsorting").css("display", "block");
                    } else {
                        $(".postsorting").css("display", "block");
                        $(".hotelsorting").css("display", "none");
                        $(".hotelsorting").css("display", "none");
                    }
                },
                error: function (textStatus, errorThrown) {

                }
            });
        }

        function GetPostsOrderBy(orderby) {
            debugger;
            $("#DivResult").hide(500);
            //change browser-url without refreshing page
            //window.history.pushState(null, null, urlAddress);
            var urlAddress = "" + window.location.pathname + "";
            $.ajax({
                async: false,
                type: "POST",
                url: "/Blog/GetPostsOrderBy/",
                data: {
                    url: decodeURI(urlAddress),
                    orderby: orderby
                },
                success: function (data) {
                    //debugger;
                    $("#DivResult").html(data.result);
                    $("#DivResult").show(1000);

                    //if (data.hashotel) {
                    //    $(".postsorting").css("display", "none");
                    //    $(".hotelsorting").css("display", "block");
                    //    $(".hotelsorting").css("display", "block");
                    //} else {
                    //    $(".postsorting").css("display", "block");
                    //    $(".hotelsorting").css("display", "none");
                    //    $(".hotelsorting").css("display", "none");
                    //}
                },
                error: function (textStatus, errorThrown) {
                    //debugger;
                }
            });

            RefreshFilterDDL();
        }
    </script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#blog-section").toggleClass("toggled");


            if ($("#blog-section").hasClass("toggled")) {
                $("#menu-toggle").html("بازگشت به مطلب اصلی <i class='fa fa-arrow-right'></i>");
                $("#sidebar-wrapper").css("position", "static")
            }
            else {
                $("#menu-toggle").html("<i class='fa fa-arrow-left'></i>دیگر مطالب مرتبط");
                $("#sidebar-wrapper").css("position", "absolute")
            }
            //$("#page-content-wrapper").css("position", "absolute");
        });
    </script>
}
