@model ParvazPardaz.ViewModel.AddLeaderViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ParvazPardaz.Resource.Tour.Tours.LeaderManagement </h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EnumDropDownListFor(model => model.Gender, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tel, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value=@ParvazPardaz.Resource.General.Generals.Create class="btn btn-custom green" />
                @Html.ActionLink(ParvazPardaz.Resource.General.Generals.Back, "Index", null, new { @class = "btn btn-custom red" })
            </div>
        </div>
    </div>

}


