@model ParvazPardaz.ViewModel.AddSliderGroupViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ParvazPardaz.Resource.CMS.CMS.ManagementSliderGroup</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.GroupTitle, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.GroupTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "flat-red", style = "margin-right:50px; margin-left:50px;" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.SpinFor(model => model.Priority, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ColorCode, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.ColorCode, new { @class = "form-control", @Style="direction:ltr" })
                @Html.ValidationMessageFor(model => model.ColorCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-1" })
            <div class="col-md-3">

                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <ol>
            <li >
                home-corporate:شرکاری تجاری،همکاران تجاری ما،مشتریان
            </li>            
            <li >
                HomeSlider:اسلایدر اول تور،اسلایدر دوم تور، اسلایدر بزرگ پس زمینه
            </li>
            <li >
                TourLanding:اسلایدرهایی که در صفحه لندیگ پیج به صورت زیر هم چیده میشوند
            </li>
        </ol>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value=@ParvazPardaz.Resource.General.Generals.Create class="btn btn-custom green" />
                @Html.ActionLink(ParvazPardaz.Resource.General.Generals.Back, "Index", null, new { @class = "btn btn-custom red" })
            </div>
        </div>
    </div>

}




