@model IEnumerable<GridOrderViewModel>
@{
    ViewBag.Title = "Index";
}
<link href="~/Plugins/PersianEnDateTime/css/persian-datepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<h3>@ParvazPardaz.Resource.Book.Book.SellsReport </h3>

<hr />
<div class="container">
    <div id="search">
        <div class="form-group col-md-12">
            <div class="col-md-6">
                <input type="radio" name="reporttype" value="@ParvazPardaz.Resource.Book.Book.sales" checked />
                @ParvazPardaz.Resource.Book.Book.sales
                <input type="radio" name="reporttype" value="@ParvazPardaz.Resource.Book.Book.reserve" />
                @ParvazPardaz.Resource.Book.Book.reserve
            </div>
            <div class="col-md-6">
                <input type="radio" name="profiletype" value="@ParvazPardaz.Model.Enum.UserProfileType.Personal" onclick="change('p')" />
                @ParvazPardaz.Resource.Book.Book.Personal

                <input type="radio" name="profiletype" value="@ParvazPardaz.Model.Enum.UserProfileType.Company" onclick="change('c')" />
                @ParvazPardaz.Resource.Book.Book.Company

                <input type="radio" name="profiletype" value="@null" checked onclick="change('c')" />
                @ParvazPardaz.Resource.Book.Book.both
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-1">
                <label>از تاریخ</label>
            </div>
            <div class="col-md-2">
                <input type="text" id="fromdate" name="fromdate" class="datepicker"  />
            </div>
            <div class="col-md-1">
                <label>تا تاریخ</label>
            </div>
            <div class="col-md-2">
                <input type="text" id="todate" name="todate" class="datepicker" />
            </div>
            <input type="hidden" id="hdcalendertype" />
            <button type="button" id="searchbutton" name="searchbutton" class="btn btn-primary" value="@ParvazPardaz.Resource.General.Generals.Search">@ParvazPardaz.Resource.General.Generals.Search</button>
        </div>
    </div>
    <div id="table">
        <table id="grid" class="table table-bordered table-hover table-full-width dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.OrderId)</th>
                    <th>@Html.DisplayNameFor(model => model.BuyerTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.NationalCode)</th>
                    <th>@Html.DisplayNameFor(model => model.TrackingCode)</th>
                    <th>@Html.DisplayNameFor(model => model.TourCode)</th>
                    <th>@Html.DisplayNameFor(model => model.TourTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.TourPackageCode)</th>
                    <th>@Html.DisplayNameFor(model => model.TourPackage)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.AdultCount)</th>
                    <th>@Html.DisplayNameFor(model => model.ChildCount)</th>
                    <th>@Html.DisplayNameFor(model => model.InfantCount)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalDiscountPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalTaxPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalPayPrice)</th>
                    <th data-id="BaseCommission">@Html.DisplayNameFor(model => model.BaseCommission)</th>
                    <th data-id="CommissionPrice">@Html.DisplayNameFor(model => model.CommissionPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.IsSuccessful)</th>
                    <th>@ParvazPardaz.Resource.Book.Book.OrderDate</th>
                    <th>@Html.DisplayNameFor(model => model.FlightDateTime)</th>
                    <th>@ParvazPardaz.Resource.Book.Book.OrderDate</th>
                    <th>@Html.DisplayNameFor(model => model.FlightDateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.LastModifierUserName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastModifierDate)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    
<script src="~/Plugins/PersianEnDateTime/js/persian-date.min.js"></script>
<script src="~/Plugins/PersianEnDateTime/js/persian-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").pDatepicker({
            format: 'YYYY/MM/DD',
            toolbox: {
                calendarSwitch: {
                    enabled: true
                }              
            },
            persianDigit: false,
            onSelect: function () {
                var test = $(this)["0"].calendar_;
                $("#hdcalendertype").val(test);
            }
        });       
       
    });
</script>
    <script>
        var table
        $(document).ready(function () {
            var $ = jQuery.noConflict();
            table = $("#grid").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                'select': true,
                language: {
                    url: '/Plugins/DataTables/Persian.json'
                },
                scrollX: true,
                scrollCollapse: true,
                "ajax": {
                    "url": "/Admin/Order/GetOrderTable",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.profiletype = $("input[name='profiletype']:checked").val(),
                        d.fromdate = $("#fromdate").val(),
                        d.todate = $("#todate").val(),
                        d.reporttype = $("input[name='reporttype']:checked").val(),
                        d.calendertype=$("#hdcalendertype").val()
                    }
                },
                "columnDefs":
                [{
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 'no-sort',
                    "orderable": false,
                }]
                , "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "Id", name: "Id", "autoWidth": true },
                { "data": "OrderId", name: "OrderId", "autoWidth": true },
                { "data": "BuyerTitle", name: "BuyerTitle", "autoWidth": true },
                { "data": "NationalCode", name: "NationalCode", "autoWidth": true },
                { "data": "TrackingCode", name: "TrackingCode", "autoWidth": true },
                { "data": "TourCode", name: "TourCode", "autoWidth": true },
                { "data": "TourTitle", name: "TourTitle", "autoWidth": true },
                { "data": "TourPackageCode", name: "TourPackageCode", "autoWidth": true },
                { "data": "TourPackage", name: "TourPackage", "autoWidth": true },
                { "data": "AdultCount", name: "AdultCount", "autoWidth": true },
                { "data": "ChildCount", name: "ChildCount", "autoWidth": true },
                { "data": "InfantCount", name: "InfantCount", "autoWidth": true },
                { "data": "TotalPrice", name: "TotalPrice", "autoWidth": true },
                { "data": "TotalDiscountPrice", name: "TotalDiscountPrice", "autoWidth": true },
                { "data": "TotalTaxPrice", name: "TotalTaxPrice", "autoWidth": true },
                { "data": "TotalPayPrice", name: "TotalPayPrice", "autoWidth": true },
                { "data": "BaseCommission", name: "BaseCommission", "autoWidth": true },
                { "data": "CommissionPrice", name: "CommissionPrice", "autoWidth": true },
                {
                    "data": "IsSuccessful", name: "IsSuccessful", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != true ? 'ناموفق' : 'موفق');
                    }
                },
                {
                    "data": "CreatorDateTime", name: "CreatorDateTime", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != null ? moment(data).format('jYYYY/jMM/jDD HH:mm') : '');
                    }
                },                
                {
                    "data": "FlightDateTime", name: "FlightDateTime", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != null ? moment(data).format('jYYYY/jMM/jDD') : '');
                    }
                },
                {
                    "data": "CreatorDateTime", name: "CreatorDateTime", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != null ? moment(data).format('YYYY/MM/DD HH:mm') : '');
                    }
                },
                {
                    "data": "FlightDateTime", name: "FlightDateTime", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != null ? moment(data).format('YYYY/MM/DD') : '');
                    }
                },
                { "data": "LastModifierUserName", name: "LastModifierUserName", "autoWidth": true },
                {
                    "data": "LastModifierDate", name: "LastModifierDate", "autoWidth": true,
                    render: function (data, type, row) {
                        return (data != null ? moment(data).format('jYYYY/jMM/jDD HH:mm') : '');
                    }
                },
                ],
                "order": [[2, 'desc']]
            });
            // Add event listener for opening and closing details
            $('#grid tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    // Open this row

                }
            });
            $("#searchbutton").click(function () {
                table.draw();
            });
            

        });
        function change(val) {
            if (val == "p") {
                var column1 = table.column(17);
                var column2 = table.column(18);
                column1.visible(false);
                column2.visible(false);
            }
            else {
                var column1 = table.column(17);
                var column2 = table.column(18);
                column1.visible(true);
                column2.visible(true);
            }
        }
        function format(rowData) {
            var div = $('<div/>')
                .addClass('loading')
                .text('Loading...');

            $.ajax({
                url: '/Admin/Order/GetHotelPackages',
                data: {
                    Id: rowData.OrderId
                },
                dataType: 'html',
                success: function (result) {
                    div.html(result).removeClass('loading');
                }
            });

            return div;
        }
       
    </script>
}