@model ParvazPardaz.ViewModel.EditSliderViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@ParvazPardaz.Resource.CMS.CMS.ManagementSlider </h3>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(m => m.ImageURL)
        @*@Html.HiddenFor(m => m.SliderGroupID)*@
        <div class="form-group">
            @Html.LabelFor(model => model.SliderGroupID, new { @class = "control-label col-md-1" })
            <div class="col-md-3 number">
                @Html.DropDownListFor(model => model.SliderGroupID, new SelectList(ViewBag.SliderGroupDDL as IEnumerable<SelectListItem>, "Value", "Text", Model.SliderGroupID), new { @class = "form-control search-select select" })
                @Html.ValidationMessageFor(model => model.SliderGroupID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageTitle, new { @class = "control-label col-md-1" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ImageTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NavigationUrl, new { @class = "control-label col-md-1" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.NavigationUrl, new { @class = "form-control", style = "direction:ltr" })
                @Html.ValidationMessageFor(model => model.NavigationUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group checkbox">
            @Html.LabelFor(model => model.ImageIsActive, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.ImageIsActive, new { @class = "flat-red" })
                @Html.ValidationMessageFor(model => model.ImageIsActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, new { @class = "control-label col-md-1" })
            <div class="col-md-3 number">
                @Html.SpinFor(model => model.Priority, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.File, new { @class = "control-label col-md-1" })
            <div class="col-md-8">
                @Html.FileUploaderFor(model => model.File).AddMore(false).IsMultiple(false).ItemAppendToEnd(false).RemoveConfirmation(true).ShowThumbs(true).RemoveButtonInEditMode(false).RemoveButton(true).Edit(new List<EditModeFileUpload>() { new EditModeFileUpload() { Name = "", Type = "", Size = 0, Url = Model.ImageURL } })
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    <strong>توجه!</strong>
                    <p>@ParvazPardaz.Resource.CMS.CMS.PicSizeBlogFisrtPageSlider</p>
                    @*<p>برای گروه Magazine2 : تصویر با عرض 268 و ارتفاع 520 پیکسل وارد کنید</p>
                    <p>برای گروه Magazine3 : تصویر با عرض 365 و ارتفاع 365 پیکسل وارد کنید</p>
                    <p>@ParvazPardaz.Resource.CMS.CMS.PicSizeFisrtPageSlider</p>
                    <p>@ParvazPardaz.Resource.CMS.CMS.PicSizeFisrtPageCountryBox</p>
                    <p>@ParvazPardaz.Resource.CMS.CMS.PicSizeFisrtPageNowruzBoxSlide</p>
                    <p>@ParvazPardaz.Resource.CMS.CMS.PicSizeFisrtPageTourSlider</p>*@
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageDescription, new { @class = "control-label col-md-1" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.ImageDescription, 5, 40, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageDescription, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value=@ParvazPardaz.Resource.General.Generals.Edit class="btn btn-custom green" />
                @Html.ActionLink(ParvazPardaz.Resource.General.Generals.Back, "Index", null, new { @class = "btn btn-custom red" })
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('.select').select2({ dir: "RTL" });
    </script>
}