@model ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<style>
    .input-group {
        margin-bottom: 15px;
    }

    .message {
        width: 100% !important;
        text-align: center !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top:15px;">
            <ol class="breadcrumb">
                <li>
                    <i class="clip-home-3"></i>
                    <a href="javascript:void(0)">
                        سامانه کاربری
                    </a>
                </li>
                <li>
                    <i class="clip-home-3"></i>
                    <a href="/Customer/Dashboard/Index">
                        داشبورد
                    </a>
                </li>
                <li class="active">
                    بازنشانی کلمه عبور
                </li>
            </ol>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <h4>تغییر کلمه عبور</h4>

            <div class="panel panel-default well">
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "کلمه عبور قبلی", @type = "password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "کلمه عبور جدید", @type = "password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار کلمه عبور جدید", @type = "password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="form-group" style="margin-top:30px">
                            <div class="col-sm-12">
                                <button id="contacts-submit" type="submit" class="btn btn-default btn-info">ویرایش</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"> </div>
    </div>
</div>
